<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>게시글 목록</title>
</head>
<body>
	<div class="container">
		<h2>Spring MVC 06</h2>
		<div class="panel panel-warning">
			<div class="panel-heading">Board List Page
				<!-- unless : 여기 조건에 해당하지 않을 때만 -->
				<span style="float:right;" th:unless="${session.info == null}" th:text="${session.info.nick} + '님 환영합니다!'"></span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-hover">
					<tr class="warning">
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>조회수</th>
						<th>날짜</th>
					</tr>
					 
					 <tr th:each="vo : ${boardList}">
					 	<td th:text="${vo.idx}"></td>
					 	<td><a th:href="@{/boardContents.do(idx=${vo.idx})}" th:text="${vo.title}"></a></td>
					 	<td th:text="${vo.writer}"></td>
					 	<td th:text="${vo.count}"></td>
					 	<td th:text="${vo.indate}"></td>
					 </tr>
						
				</table>
				
				<a class="btn btn-info" href="boardInsert.do">글쓰기</a>
				<!-- Thymeleaf 태그 Web이 실행되면 th:block는 보이지 않는다 -->
				<th:block th:if="${session.info == null}">
					<a class="btn btn-success" href="login.do">로그인</a>
				</th:block>
				<th:block th:if="${session.info}">
					<a class="btn btn-success" href="logout.do">로그아웃</a>
				</th:block>
				
				
			</div>
			<!-- 보통 footer에는 기업, 웹사이트의 정보가 들어감 -->
			<div class="panel-footer">LG DX - 민현정</div>
		</div>
	</div>
</body>
</html>